<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic 4 orientacion de pantalla
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
 
  <ion-list>
    <ion-item>
      <ion-button (click)="setLandscape()">
        Cambiar a horizontal
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button (click)="setPortrait()">
        Cambiar a vertical
      </ion-button>
    </ion-item>
    <ion-item>
      Desbloquear Orientacion: <ion-button (click)="unlockScreen()">
        Desbloquear
      </ion-button>
    </ion-item>
  </ion-list>
 
</ion-content>